@import "/src/styles.scss";



.test {
    background-color: $primary;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: white;
    text-decoration: none;
}

li.nav-item a {
    text-decoration: none;
    color: white;
}

.gradient {
background: linear-gradient(180deg, $primary 0%, rgb(255, 255, 255) 100%);
}


