<nav class="navbar navbar-expand-lg test gradient pb-5 pt-3">
    <div class="container primary">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <mat-icon>menu</mat-icon>
        <!-- <span class="navbar-toggler-icon">MENU</span> -->
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="ms-xl-5 pe-5 h3 " href="#">Piknik Cafe</a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a routerLink='/' class="nav-link h6" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item h6">
            <a routerLink = '/products' class="nav-link" href="#" body-2>Products</a>
          </li>
        </ul>
        <!-- <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->
      </div>
    </div>
  </nav>
  <p>

  </p>